#monitor{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}
#monitor img{
    width: 50%;
    height: auto;
}

.animation-container{
    position: absolute;
    left: 52%;
    top: 52%;
}

#button-section{
    display: flex;
    align-items: center;
}

.circle-image{
    display: flex;
    justify-content: center;
}

.home-heading{
    display: flex;
    justify-content: center;
}

.cirlce-btn img{  
    width: 60%;
    height: auto;
}