html, body{
    background-color: #112233;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    display: flex;
    justify-content: center;
    color:#93ffd5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    padding: 2.5%;
    z-index: 3;

}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
 
.top-rectangle{
    width: 100vw;
    height: 20vh;
    background-color: #01214b;
    margin: 0;
    padding: 0;

    border-bottom-width: .5vh;
    border-bottom-style: solid;
    border-bottom-color: #93ffd5;
}

.middle-rectangle{
    width: 100vw;
    height: 100vh;
    background-color: #619ea9;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.bottom-rectangle{
  
    width: 100vw;
    height: 20vh;
    background-color: #01214b;
    margin: 0;
    padding: 0;

    border-top-width: .5vh;
    border-top-style: solid;
    border-top-color: #93ffd5;

    
    z-index: 1;
    
}


#monitor{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    bottom: 2%;
    z-index: 2;
    
}

#monitor img{
    max-width: 800px;
    width: 80%;
    height: auto;
}

#button-section{
    padding-top: 10%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.circle-image{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
}

.home-heading{
    display: flex;
    justify-content: center;
}

.cirlce-btn img{
    width: 60%;
    height: auto;
}